.privacy-page{
    width: 80%;
    /* height: 100vh; */
    margin: 12rem auto 0;
    padding: 1rem 2rem;
}
.privacy-page hr{
    opacity: 0.3;
    
}

.privacy-page h2{
    margin-top: 20px;
}

.privacy-page p{
    margin: 10px;
}

@media (max-width: 630px){
    .privacy-page{
        padding: 1rem 0;
        margin: 10rem auto 0;
        text-align: justify;
    }
}